<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>TestServlet1</servlet-name>
    <servlet-class>com.cdsxt.action.TestServlet1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestServlet2</servlet-name>
    <servlet-class>com.cdsxt.action.TestServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.cdsxt.action.TestServlet</servlet-class>
  </servlet>

  <context-param>
  	<param-name>a</param-name>
	<param-value>aaaa</param-value>  
  </context-param>

  <context-param>
  	<param-name>b</param-name>
	<param-value>bbbb</param-value>  
  </context-param>

  <servlet-mapping>
    <servlet-name>TestServlet1</servlet-name>
    <url-pattern>/testServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet2</servlet-name>
    <url-pattern>/testServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
